@font-face {
  font-family: Aire;
  src: url("../fonts/AireExterior.woff") format("woff"), url("../fonts/AireExterior.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Pulsar;
  src: url("../fonts/Pulsar.woff") format("woff"), url("../fonts/Pulsar.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes menu__line-anim {
  0% {
    height: 0;
  }
  50% {
    height: 525px;
  }
  100% {
    height: 0;
  }
}

@keyframes menu__line-anim {
  0% {
    height: 0;
  }
  50% {
    height: 525px;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes header__line-before-anim {
  0% {
    height: 0;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

@keyframes header__line-before-anim {
  0% {
    height: 0;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes header__line-after-anim {
  0% {
    height: 0;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 0;
  }
}

@keyframes header__line-after-anim {
  0% {
    height: 0;
  }
  50% {
    height: 100px;
  }
  100% {
    height: 0;
  }
}

body {
  margin: 0;
  max-width: 1400px;
  min-height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 28, 36, 0)), to(#141c24));
  background: linear-gradient(rgba(20, 28, 36, 0), #141c24);
  background-color: #527e8b !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Aire;
  font-weight: 400;
  font-size: 48px;
}

input {
  height: 75px;
  width: 390px;
  padding-left: 24px;
  margin: 0 0 15px;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
          align-items: center;
  font-family: Aire;
  font-weight: 400;
  font-size: 24px;
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  -ms-flex-align: center;
      align-items: center;
  font-family: Aire;
  font-weight: 400;
  font-size: 24px;
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  -ms-flex-align: center;
      align-items: center;
  font-family: Aire;
  font-weight: 400;
  font-size: 24px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Aire;
  font-weight: 400;
  font-size: 24px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
  padding-top: 50px;
  margin-top: 40px;
  padding-bottom: 250px;
}

.header::before {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  left: 51%;
  width: 1px;
  height: 0px;
  background-color: white;
  -webkit-animation: header__line-before-anim 4s linear infinite;
          animation: header__line-before-anim 4s linear infinite;
}

.header::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 51%;
  width: 1px;
  height: 0px;
  background-color: white;
  -webkit-animation: header__line-after-anim 8s linear infinite;
          animation: header__line-after-anim 8s linear infinite;
}

.header__menu {
  margin-bottom: 295px;
}

.header__logo {
  position: absolute;
  padding-top: 10px;
  padding-left: 40px;
}

.header__art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.header__art img {
  width: 47px;
  height: 41px;
}

.header__art p {
  font-family: Pulsar;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  padding-left: 30px;
  margin-top: 5px;
}

.header__items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.link {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
  margin-left: 10px;
  font-family: "Roboto" serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #00c5ff;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.link:hover {
  color: #00c5ff;
}

.link:hover::after {
  width: 100%;
}

.hidden {
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__menu-button {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  margin-top: 50px;
  margin-right: 20px;
  cursor: pointer;
}

.header__menu-button::after {
  content: "";
  display: block;
  height: 5px;
  width: 40px;
  margin-left: 3px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__menu-button::before {
  content: "";
  display: block;
  margin-bottom: 10px;
  height: 5px;
  width: 40px;
  margin-left: 3px;
  margin-top: 13px;
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__menu-button:hover::after {
  background-color: #00c5ff;
  -webkit-transform: translate(-6.5px, -7.5px) rotate(90deg);
          transform: translate(-6.5px, -7.5px) rotate(90deg);
}

.header__menu-button:hover::before {
  background-color: #00c5ff;
  -webkit-transform: translate(6.5px, 7.5px) rotate(90deg);
          transform: translate(6.5px, 7.5px) rotate(90deg);
}

.header__menu-line {
  position: absolute;
  max-height: 1000px;
  width: 1px;
  height: 0;
  margin-top: 100px;
  top: 0;
  right: 46px;
  background-color: #fff;
  -webkit-animation: menu__line-anim 16s linear infinite;
          animation: menu__line-anim 16s linear infinite;
}

.header__about {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: -20px;
  z-index: -1;
}

.header__subtitle {
  text-align: center;
  font-family: "Roboto" serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.header__title {
  text-align: center;
  font-family: Aire;
  font-size: 48px;
  line-height: 1;
  color: white;
}

.header__upgrade-button {
  margin: 120px auto;
  opacity: 0.2;
  text-align: center;
  cursor: pointer;
}

.header__upgrade-button a {
  font-family: Aire;
  font-size: 26px;
}

.header__upgrade-button p {
  padding-top: 10px;
}

.corner {
  height: 60px;
  width: 250px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 30%, 90% 0);
          clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 30%, 90% 0);
  background: white;
}

.corner--registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px 125px 15px 0;
  color: black;
  font-family: Aire;
  font-weight: 400;
  font-size: 24px;
  padding: 0 40px 38px;
  width: 250;
}

.corner--registration:hover {
  color: rgba(0, 0, 0, 0.5);
}

.about {
  margin-top: 60px;
  padding-bottom: 90px;
}

.border__left {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.cloudgaming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  padding-top: 70px;
}

.cloudgaming__about {
  margin-left: 100px;
  font-family: 'Roboto' serif;
  font-weight: 300;
}

.section__title {
  color: white;
  font-family: Aire;
  margin-bottom: 43px;
}

.section__pretitle {
  font-size: 16px;
  padding-left: 84px;
  color: #00c5ff;
}

.section__pretitle::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #00c5ff;
  -webkit-transform: translate(-84px, 13px);
          transform: translate(-84px, 13px);
}

.section__pre-post-title {
  font-size: 14px;
  padding: 0 128px;
  color: rgba(255, 255, 255, 0.5);
  margin: 3px 90px;
  margin-bottom: 12px;
  text-align: center;
}

.section__pre-post-title::before {
  content: "";
  display: block;
  width: 117px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-129px, 7px);
          transform: translate(-129px, 7px);
}

.section__pre-post-title::after {
  content: "";
  display: block;
  width: 117px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(129px, -7px);
          transform: translate(129px, -7px);
}

.cloudgaming__about-subtitle {
  color: #ababab;
  font-size: 21px;
  line-height: 25px;
  width: 450px;
}

.cloudgaming__about-subtitle#first {
  padding-bottom: 15px;
}

.cloudgaming__about-subtitle#second {
  padding-top: 30px;
}

.horizontalline {
  position: absolute;
  width: 271px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.cloudgaming__about-link {
  font-family: 'roboto' serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding-top: 40px;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.cloudgaming__about-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #00c5ff;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.cloudgaming__about-link:hover {
  color: #00c5ff;
}

.cloudgaming__about-link:hover::after {
  width: 74px;
}

.cloudgaming__art {
  margin-top: -100px;
}

.quickstart__item-text {
  font-family: 'roboto' serif;
  font-weight: 300;
  font-size: 21px;
  color: white;
}

.quickstart__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titles {
  width: 270px;
  padding-left: 70px;
  margin-left: auto;
  margin-right: auto;
}

.page {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #141c24 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

i {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Download 
================*/
.download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 658px;
  height: 273px;
}

.download__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 50px;
}

.download__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 52px;
}

.download__os {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

.social__item {
  width: 100px;
  height: 100px;
  margin: 0 0 0 62px;
}

.social__icon {
  display: block;
  height: 100px;
  width: 100px;
  fill: #00c5fa;
  -webkit-transition: fill .1s linear;
  transition: fill .1s linear;
}

.social__icon:hover {
  fill: white;
}

/* Registration 
================*/
.registration__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 484px;
}

.registration__container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 48px;
  margin-bottom: 32px;
}

.registration__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 40px;
  height: 33px;
}

.registration__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  margin-right: 57px;
}

.registration__text--active {
  color: white;
  margin-right: 40px;
}

.registration__text--inactive {
  color: rgba(255, 255, 255, 0.5);
  padding-right: 82px;
}

.registration__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.registration__agreement__text {
  width: 382px;
  height: 112px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Roboto;
  font-weight: 200;
  font-size: 12px;
  line-height: 1.2;
  margin: 39px 19px;
  padding-left: 20px;
  text-align: left;
}

.registration__fast_entering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 240px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 151px;
}

.registration__fast_entering__item {
  width: 25px;
  height: 25px;
  margin: 6px 10px;
}

/* Registration_confimation
================*/
.confirmation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 836px;
}

.confirmation__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 65px;
}

.confirmation__home {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 40px;
  height: 33px;
}

.confirmation__header__text {
  color: .confirmation__header__text white;
  font-size: 39px;
  margin-right: 111px;
}

.confirmation__text {
  color: #ababab;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}
